<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'store/styles.css' %}">
    {% block css %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        my portolio site
        {% endblock %}</title>
</head>
<body>
    {% block body %}
    {% endblock %}
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">home</a></li>
            <li><a href="{% url 'experience' %}">Projects</a></li>
            <li><a href="{% url 'writeMeAMessage' %}">write me a message</a></li>
            <li><a href="mailto:onyedika@gmail.com" target="_blank" title="Link to email Stephen">Email me</a></li>
        </ul>
    </nav>
    <p>&copy; Steve's portfolio. All right reserved</p>
    </footer>

    <script src="{% static 'store/js.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed('.auto-type',{
            strings: ["coding!", "and coding!!", "and coding again!!!"],
            typespeed: 200,
            backspeed: 200,
            loop: true
        })
    </script>
</body>
</html>