{% extends 'store/base.html' %}
{% load static %}
{% block title %}
write Me A Message
{% endblock %}

{% block body %}
<section class="hidden">
    <h1 id="name">Contact Me <br>
        <span style="font-size: medium;">onyedikas019@gmail.com</span>
    </h1>
</section>
    <section class="hidden">
        <p>If you like my works and want to contact me please don't hesitate to <a style="color: #23d5ab;" href="mailto:onyedika@gmail.com" target="_blank" title="Link to email Stephen">Email me</a> or use the form below. I'm open to work and collaborations.</p>
    </section>
    <section class="hidden">
        <form action="{% url 'writeMeAMessage' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input style="width: 80%; background-color: #23d5ab; margin-left: 2em; padding: 0.3em; font-size: large;" class='sub' type="submit" value="submit">
        </form>
        <p class="hidden_message hide" style="font-size: 18px;color: black;background-color: pink;text-align: center;">submitted</p>
    </section>

    <script>
        var form = document.querySelector('form')
        form.addEventListener('submit', function(){
            var message = document.querySelector('.hidden_message')
            var sub = document.querySelector('.sub')
            sub.classList.add('hide')
            message.classList.remove('hide')
            alert('Thank you your message has been sent')
        })
    </script>

{% endblock %}