@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=poppins:wght@200;300;500;200;600;700;800;900;&display=swap');

html,body{
    width: 100%;
    height: 100%;
}
body{
    background: linear-gradient(-45deg, black, black, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}
#name{
    font-size: 35px;
    color: rgb(18, 235, 18);
    border: 5px solid green;
    border-radius: 50%;
    padding: 45px;
    position: relative;
    right: 250px;
}
/* #name:hover{
    background-color: rgb(18, 235, 18);
    color: white;
    word-spacing: 1em;
    letter-spacing: 0.2em;
    font-weight: 300;
} */
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.bigS{
    position: absolute;
    left: 75%;
    bottom: 60%;
    width: 200px;
}
.bigS:hover{
    aspect-ratio: 8/11;
    object-fit: contain;
    mix-blend-mode: color-dodge;
    width: 210px;
}
.comp{
    display: none;
    position: absolute;
    left: 75%;
    bottom: 10%;
    width: 200px;
}
section p{
    font-size: 12px;
    width: 900px;
    word-spacing: 3px;
}
input{
    display: block;
    margin: 5px;
    border: 2px solid #23d5ab;
    padding: 18;
    font-size: 15;
    border-radius: 6px;
}
.hide{
    display: none;
}
form input:focus{
    border: 3px dashed #23d5ab;
    outline: none;
}
textarea{
    display: block;
    margin: 5px;
    border: 2px solid #23d5ab;
    padding: 18;
    font-size: 15;
    border-radius: 6px;
}
form textarea:focus{
    border: 3px dashed #23d5ab;
    outline: none;
}
.button{
    border: 2px solid #23d5ab;
    color: #23d5ab;
    padding: 10px 3em 10px;
    text-decoration: none;
}
.button:hover{
    background-color: #23d5ab;
    color: black;
}
.softskills{
    color: rgb(18, 235, 18);
    border-bottom: 5px solid green;
    font-size: larger;
}
.softskills_li{
    position: relative;
    left: -20%;
    text-align: start;
}
.softskills_lii{
    position: relative;
    left: 20%;
    text-align: start;
    place-items: flex-end;
    align-content: flex-end;
}
.right{
    position:relative; left: 40%;
}
.right p{
    color: rgb(18, 235, 18);font-size: larger;
}
.right ul{
    position:relative; left: -10%;
}
footer ul{
    position: relative;
    left: 248px;
}
footer li{
    display: inline;
    padding: 6px;
    margin-left: 2em;
}
footer li a{
    text-decoration: none;
    color: black;
}
footer li a:hover{
    color: rgb(207, 207, 207);
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 10vh;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.logos{
    display: flex;
}
.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}

.logo{
    background-color: aqua;
    border-radius: 12px;
    padding: 1rem;
    margin: 0 0.5rem;
} 
footer{
    position: relative;
    width: 100%;
    background-color: #3586ff;
    min-height: 100px;
    padding: 20px 50px;   
}
footer{
    position: relative;
    top: 30%;
    height: 150px;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('images/wave.png');
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 3s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20;
    animation: animateWave_02 3s linear infinite;
}
/* p:hover{
    color: #23d5ab;
    word-spacing: 1em;
}
li:hover{
    color: #23d5ab;
    word-spacing: 1em;
} */
footer p{
    color: rgb(202, 202, 202);
    font-size: small;
    position: relative;
    left: 30%;
    padding-top: 1em;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animatewave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
@media screen and (max-width: 800px) {
    html, body{
        overflow-x: hidden;
    }
    #name{
        position: relative;
        left: 0px;
    }
    .bigS{
        display: none;
    }
    .comp{
        display: none;
    }
    section p{
        width: 80%;
    }
    .right{
        position:relative; left: 20%;
    }
    footer{
        width: 150%;
        height: 50%;
    }
    footer .wave{
        display: none;
    }
    .logos{
        display: none;
    }
    section{
        padding: 1em;
    }
    footer li{
        margin-left: 2em;
        position: relative;
        right: 300px;
    }
    footer p{
        color: rgb(202, 202, 202);
        font-size: small;
        position: relative;
        left: 15%;
    }
}
@media screen and (max-width: 535px) {
    html, body{
        overflow-x: hidden;
        color: #04fff2;
    }
    h3{
        color: white;
    }
    .bigS{
        position: absolute;
        left: 350px;
        bottom: 50%;
        width: 200px;
        padding: 0px;
        margin: 0px;
        display: block;
        opacity: 1000;
        display: none;
    }
    .comp{
        display: none;
        position: absolute;
        left: 350px;
        top: 110%;
        width: 200px;
        padding: 0px;
        margin: 0px;
        opacity: 1000;
    }
    section p{
        max-width: 200px;
        color: white;
    }
    .right{
        position:relative; left: 20%;
    }
    body{
        background: url('./other-media/bcc.gif');
        overflow-x: hidden;
    }
    #name{
        position: relative;
        left: 0px;
        font-size: 26px;
    }
    footer .wave{
        display: none;
    }
    .logos{
        display: none;
    }
    section{
        padding: 2em;
    }
    footer li a{
        text-decoration: none;
        color: black;
    }
    textarea{
        width: 100%;
    }
    footer li{
        display: block;
        position: relative;
        right: 300px;
    }
    footer p{
        color: rgb(202, 202, 202);
        font-size: small;
        position: static
    }
}